.contact {
}
.contact__container {
}
.contact__header {
}

.header-contact {
}
.header_title {
}
.header-contact__title {
}

.contact__body {
	display: flex;
	padding: 0 .5rem;
	padding-top: 2rem;
	row-gap: 2rem;
}
.contact__content {
	display: flex;
	align-self: center;
	flex: 0 1 50%;
	flex-direction: column;
	gap: 3rem;
}
.contact__content h3 {
	color: var(--title-color);
	font-size: 1.5rem;
	font-weight: var(--font-semi-bold);
}
.contact__content h3:not(:last-child) {
	margin-bottom: .5rem;
}
.contact__content address {
	font-style: normal;
}
.contact__image {
	flex: 0 1 50%;
	position: relative;
	padding-top: 64.516129%;
}
.contact__image img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
	filter: drop-shadow(var(--shadow-img));
}

.contact__social {
}

.social-contact {
}
.social-contact__title {
}
.social-contact__image {
	display: flex;
	column-gap: .75rem;
}
.social-contact__image img {
	transition: transform .4s ease 0s;
}
.social-contact__image img:hover {
	transform: scale(1.1);
}
.social-contact__whatsapp {
}
.social-contact__messenger {
}
.social-contact__mail {
}

.contact__number {
}

.number-contact {
}
.number-contact__title {
}
.number-contact__info {
}

.contact__address {
}

.address-contact {
}
.address-contact__title {
}
.address-contact__info {
}
@media (max-width: 47.998em) {
	.contact.section {
		padding-block: 2rem 1rem;
	}
	.contact__body {
		flex-direction: column;
	}
	.contact__content {
		text-align: center;
		justify-content: center;
		gap: 1.5rem;
	}
	.social-contact__image {
		justify-content: center;
	}
	.contact__image {
		padding-top: 0;
		max-width: 300px;
		margin: 0px auto;
	}
	.contact__image img {
		position: relative;
	}
	
}