.home {
}
.home__container {
	display: flex;
	row-gap: 1em;
	padding-top: 2.5em;
}
.home__image {
	flex: 0 1 50%;
	justify-self: center;
	margin: 0px auto;
}
.image-home {
}
.image-home__body {
	display: block;
	position: relative;
	padding-top: 123%;
}
.image-home__body img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
	filter: drop-shadow(var(--shadow-img));
}
.home__content {
	flex: 0 1 50%;
	align-self: center;
}
.home__header {
}
.header-home {
}
.header-home__title {
	font-size: var(--biggest-font-size);
}
.header-home__title  span{
	color: var(--first-color);
}
.header-home__text {
}
.header-home__text:not(:last-child) {
	margin-bottom: 3em;
}
.header-home__buttons {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1.5em;
	text-transform: uppercase;
}
.header-home__button {
}
.button { /* На 480 сделать кнопку на весь блок */
	display: inline-flex;
	align-items: center;
	column-gap: .75rem;
	background-color: var(--white-color);
	color: var(--black-color);
	font-weight: var(--font-bold);
	padding: .5rem 1.5rem .5rem .5rem;
	border-radius: 4rem;
	transition: background-color .4s ease;
}
.button:hover {
	background-color: rgb(238, 255, 224)
}
.button img {
	display: grid;
	width: 40px;
	height: 40px;
	background-color: var(--first-color);
	padding: .5rem;
	border-radius: 50%;
	place-items: center;
	transition: transform .4s ease;
}
.button:hover img {
	transform: translateX(.15rem) rotate(-30deg);
}
.header-home__button-link {
	color: var(--white-color);
	font-weight: var(--font-bold);
	text-decoration: underline;
	transition: color .4s ease;
}
.header-home__button-link:hover {
	color: var(--first-color);
}
.button-link {
}
@media (max-width: 47.998em) {
	.home__container {
		padding-top: 1.25em;
		flex-direction: column-reverse;
	}
	.header-home__text:not(:last-child) {
		margin-bottom: 1.25em;
	}
	.image-home__body {
		max-width: 300px;
		padding-top: 0;
	}
	.image-home__body img {
		position: relative;
	}
	.home__content {
		text-align: center;
	}
}
@media (max-width: 30em) {
	.header-home__buttons {
		flex-direction: column;
	}
}