.new {
}
.new__container {
	display: flex;
	row-gap: 6rem;
}
.header-new {
	flex: 0 1 50%;
	align-self: center;
}
.header-new__title {
}
.header-new__text {
	max-width: 420px;
}
.new__content {
	flex: 0 1 50%;
	column-gap: 4rem;
	row-gap: 6rem;
	margin: 0px auto;
}
.new__card {
	position: relative;
	width: 200px;
	background: var(--gradient-card);
	padding: 9rem .75rem 1.5rem .75rem;
	border: 2px solid var(--first-color-light);
	border-radius: 1.5rem;
}
.new__card:nth-child(odd) {
	rotate: -5deg;
}
.new__card:nth-child(even) {
	justify-self: flex-end;
	rotate: 5deg;
}
.new__card:hover .card-new__image img  {
	transform: translateY(-.5rem);
}
.card-new {
}
.card-new__image img {
	position: absolute;
	top: -4.5rem;
	left: 0;
	right: 0;
	width: 180px;
	margin: 0px auto;
	object-fit: cover;
	transition: transform .4s ease;
}
.card-new__title {
	font-size: 1.25rem;;
	font-weight: var(--font-semi-bold);
	text-align: center;
	color: var(--title-color);
}
@media (max-width: 61.998em) {
	.new__container {
		flex-direction: column;
	}
	.header-new__text {
		max-width: none;
	}
}
@media (min-width: 48em) {
	.new__content {
		grid-template-columns: repeat(2, 1fr);
	}
	.new__card:nth-child(even) {
		transform: translateY(10rem);
	}
}
@media (max-width: 47.998em) {
	.new.section {
		padding-block: 2rem 1rem;
	}
}