:root {
	/*========== Colors ==========*/
	/*Color mode HSL(hue, saturation, lightness)*/
	--first-color: hsl(93, 54%, 54%);
	--first-color-alt: hsl(93, 50%, 48%);
	--first-color-light: hsl(93, 58%, 66%);
	--title-color: hwb(180 98% 2%);
	--text-color: hsl(228, 8%, 70%);
	--white-color: hsl(228, 8%, 98%);
	--black-color: hsl(228, 6%, 4%);
	--body-color: hsl(228, 6%, 8%);
	--container-color: hsl(228, 6%, 12%);
	--shadow-img: 0 0 48px hsla(93, 54%, 54%, .4);
	--gradient-card: linear-gradient(180deg,
			hsla(93, 8%, 8%),
			hsla(93, 40%, 30%));

	/*========== Font and typography ==========*/
	/*.5rem = 8px | 1rem = 16px ...*/
	--body-font: "Montserrat", sans-serif;
	--biggest-font-size: 4.25rem;
	--h1-font-size: 2.25rem;
	--h2-font-size: 1.5rem;
	--h3-font-size: 1.25rem;
	--normal-font-size: 1rem;
	--small-font-size: .875rem;
	/*========== Font weight ==========*/
	--font-regular: 400;
	--font-semi-bold: 600;
	--font-bold: 700;

	/*========== z index ==========*/
	--z-tooltip: 10;
	--z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media (max-width: 61.998em) {
	:root {
		--biggest-font-size: 3rem;
		--h1-font-size: 2rem;
		--h2-font-size: 1.25rem;
		--h3-font-size: 1rem;
	}
}

@media (max-width: 47.998em) {
	:root {
		--biggest-font-size: 2.25rem;
		--h1-font-size: 1.5rem;
	}
}

/* Обнуление */
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: inherit;
}

ul,
ol,
li {
	list-style: none;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

html,
body {
	height: 100%;
	background-color: var(--body-color);
	color: var(--text-color);
	font-family: var(--body-font);
}

button,
input {
	font-weight: inherit;
	font-size: inherit;
	color: inherit;
	font-family: inherit;
}

button {
	cursor: pointer;
	background-color: inherit;
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
}
.page__home {
}
.page__new {
}
.page__shop {
}
.page__care {
}
.page__contact {
}
.icon img {
	width: 32px;
	height: 32px;
}
.section {
	padding-block: 5rem 1rem;
}
.grid {
	display: grid;
	gap: 1.5rem;
}

.header_title {
}
.title {
	color: var(--title-color);
	font-size: var(--h1-font-size);
	font-weight: var(--font-bold);
	text-transform: uppercase;
}
.title_center {
	text-align: center;
}
.title:not(:last-child) {
	margin-bottom: 0.44em;
}

[class*="__container"] {
	max-width: 69.75rem;
	margin: 0px auto;
	padding-inline: 1rem;
}

::-webkit-scrollbar {
	background-color: hsl(228, 4%, 15%);
}
::-webkit-scrollbar-thumb {
	background-color: hsl(228, 4%, 25%);
}
::-webkit-scrollbar-thumb:hover {
	background-color: hsl(228, 4%, 35%);
}
.scrollup {
	position: fixed;
	right: 1rem;
	bottom: -50%;
	background-color: var(--container-color);
	box-shadow: 0 12px 24px hsl(228, 48%, 4%, .5);
	display: inline-flex;
	padding: 6px;
	z-index: 10;
	transition: bottom .4s, transform .4s;
}
.scrollup:hover {
	transform: translateY(-.5rem);
}
.show-scroll {
	bottom: 3rem;
}