/* Reset */
@import url("reset.css");
/* Variables */
:root {
	/*========== Colors ==========*/
	/*Color mode HSL(hue, saturation, lightness)*/
	--first-color: hsl(93, 54%, 54%);
	--first-color-alt: hsl(93, 50%, 48%);
	--first-color-light: hsl(93, 58%, 66%);
	--title-color: hwb(180 98% 2%);
	--text-color: hsl(228, 8%, 70%);
	--white-color: hsl(228, 8%, 98%);
	--black-color: hsl(228, 6%, 4%);
	--body-color: hsl(228, 6%, 8%);
	--container-color: hsl(228, 6%, 12%);
	--gradient-card: linear-gradient(180deg,
			hsla(93, 8%, 8%),
			hsla(93, 40%, 30%));

	/*========== Font and typography ==========*/
	/*.5rem = 8px | 1rem = 16px ...*/
	--biggest-font-size: 4.25rem;
	--h1-font-size: 2.25rem;
	--h2-font-size: 1.5rem;
	--h3-font-size: 1.25rem;
	--normal-font-size: 1rem;
	--small-font-size: .875rem;
	/*========== Font weight ==========*/
	--font-regular: 400;
	--font-semi-bold: 600;
	--font-bold: 700;
}

/*========== Responsive typography ==========*/
@media (max-width: 61.998em) {
	:root {
		--biggest-font-size: 3rem;
		--h1-font-size: 2rem;
		--h2-font-size: 1.25rem;
		--h3-font-size: 1rem;
	}
}

@media (max-width: 47.998em) {
	:root {
		--biggest-font-size: 2.25rem;
		--h1-font-size: 1.5rem;
	}
}
/* ============================== */
/* ============================== */
body {
	background-color: var(--body-color);
	color: var(--text-color);
	font-family: "Montserrat", sans-serif;
}
.wrapper {
	min-height: 100%;
	overflow: clip;
	display: flex;
	flex-direction: column;
}
.wrapper > main {
	flex-grow: 1;
}
.icon img {
	width: 32px;
	height: 32px;
}
.section {
	padding-block: 5rem 1rem;
}
.grid {
	display: grid;
	gap: 1.5rem;
}
.title {
	color: var(--title-color);
	font-size: var(--h1-font-size);
	font-weight: var(--font-bold);
	text-transform: uppercase;
}
.title_center {
	text-align: center;
}
.title:not(:last-child) {
	margin-bottom: 0.44rem;
}

[class*="__container"] {
	max-width: 69.75rem;
	margin: 0px auto;
	padding-inline: 1rem;
}

::-webkit-scrollbar {
	background-color: hsl(228, 4%, 15%);
}
::-webkit-scrollbar-thumb {
	background-color: hsl(228, 4%, 25%);
}
::-webkit-scrollbar-thumb:hover {
	background-color: hsl(228, 4%, 35%);
}

.scrollup {
	position: fixed;
	right: 1rem;
	bottom: -50%;
	background-color: var(--container-color);
	box-shadow: 0 12px 24px hsl(228, 48%, 4%, .5);
	display: inline-flex;
	padding: 6px;
	z-index: 10;
	transition: bottom .4s, transform .4s;
}
.scrollup:hover {
	transform: translateY(-.5rem);
}
.show-scroll {
	bottom: 3rem;
}
/* ============================== */
/* ============================== */

/* ============ Header ================== */
.header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	background-color: transparent;
	z-index: 50;
}
.header__container {
	position: relative;
	height: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header__logo {
	display: flex;
	flex: 0 0 120px;
	align-items: center;
	cursor: pointer;
	column-gap: 0.25rem;
	font-weight: var(--font-semi-bold);
	color: var(--title-color);
	z-index: 10;
}
.header__logo img {
	width: 32px;
	height: 32px;
}
.logo__text {
	font-size: 24px;
}
.header__menu {
	display: flex;
	gap: 2rem;
	align-items: center;
	flex: 0 1 750px;
}
.menu__body {
	display: flex;
	flex: 1 1 auto;
}
.menu__list {
	display: flex;
	gap: 3.5rem;
	z-index: 10;
}
.menu__link {
	color: var(--title-color);
	font-size: var( --h3-font-size);
	font-weight: var(--font-semi-bold);
	transition: color .4s ease 0s;
}
.menu__link:hover {
	color: var(--first-color);
}
.actions-menu {
	display: flex;
	column-gap: 1rem;
	z-index: 2;
}
.actions-menu svg {
	width: 32px;
	height: 32px;
	fill: var(--title-color);
	cursor: pointer;
	transition: fill .4s ease 0s;
}
.actions-menu svg:hover {
	fill: var(--first-color);
}
.icon-menu {
	display: none;
}
.active-link {
	color: var(--first-color);
}
@media (max-width: 68.75em) {
	.header__menu {
		flex: 0 1 auto;
	}
}
@media (max-width: 61.998em) {
	.menu__list {
		gap: 3rem;
	}
}
@media (min-width: 48em) {
	.header::before {
		content: "";
		position: fixed;
		width: 100%;
		height: 100px;
		top: 0;
		left: 0;
	}
	.scroll-active.header::before {
		background-color: rgba(19, 20, 22, .2);
		backdrop-filter: blur(16px);
		-webkit-backdrop-filter: blur(16px);
	}
}
/* ============== Burger ================ */
@media (max-width: 47.998em) {
	body._lock {
		overflow: hidden;
	}
	.header::before {
		height: 70px;
	}
	.header__container {
		height: 70px;
	}
	.menu {
		flex: 1 1 auto;
		gap: 1rem;
		justify-content: end;
	}
	.menu__list {
		flex-direction: column;
		align-items: center;
		gap: 3rem;
	}
	.menu__link {
		font-size: 1.75rem;
	}
	.icon-menu {
		display: block;
		flex: 0 0 30px;
		height: 18px;
		position: relative;
		z-index: 5;
	}
	.icon-menu span,
	.icon-menu::before,
	.icon-menu::after {
		content: "";
		right: 0;
		position: absolute;
		width: 100%;
		height: 2px;
		background-color: #fff;
		transition: all .4s ease 0s;
	}
	.icon-menu::before {
		top: 0;
	}
	.icon-menu::after {
		bottom: 0;
	}
	.icon-menu span {
		top: calc(50% - 1px);
	}
	.icon-menu._active span {
		width: 0;
	}
	.icon-menu._active::before {
		top: calc(50% - 1px);
		transform: rotate(-45deg);
	}
	.icon-menu._active::after {
		top: calc(50% - 1px);
		transform: rotate(45deg);
	}
	.menu__body {
		position: fixed;
		width: 80%;
		height: 100%;
		right: -100%;
		top: 0;
		background-color: rgba(19, 20, 22, 0.2); /* 0.2 */
		justify-content: center;
		padding: 100px 15px 30px 15px;
		transition: right .4s ease 0s;
		overflow: auto;
	}
	.menu__body::before {
		content: "";
		position: fixed;
		width: 100%;
		height: 70px;
		top: 0;
		right: 0%;
		backdrop-filter: blur(16px);
		-webkit-backdrop-filter: blur(16px);
		z-index: 15;
	}
	.menu__body::after {
		content: "";
		position: fixed;
		width: 80%;
		height: 100vh;
		top: 70px;
		right: -100%;
		backdrop-filter: blur(16px);
		-webkit-backdrop-filter: blur(16px);
		background-color: rgba(19, 20, 22, 0.2);
		transition: right .4s ease 0s;
	}
	.menu__body._active,
	.menu__body._active::after {
		right: 0%;
	}
}
/* ============================== */
/* ============================== */

/* ============ Home ================== */
.home__container {
	display: flex;
	row-gap: 1rem;
	padding-top: 2.5rem;
}
.home__image {
	flex: 0 1 50%;
	justify-self: center;
	margin: 0px auto;
}
.image-home__body {
	display: block;
	position: relative;
	padding-top: 123%;
}
.image-home__body img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
	filter: drop-shadow(0 0 48px hsla(93, 54%, 54%, .4));
}
.home__content {
	flex: 0 1 50%;
	align-self: center;
}
.header-home__title {
	font-size: var(--biggest-font-size);
}
.header-home__title  span{
	color: var(--first-color);
}
.header-home__text:not(:last-child) {
	margin-bottom: 3rem;
}
.header-home__buttons {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1.5rem;
	text-transform: uppercase;
}
.button {
	display: inline-flex;
	align-items: center;
	column-gap: .75rem;
	background-color: var(--white-color);
	color: var(--black-color);
	font-weight: var(--font-bold);
	padding: .5rem 1.5rem .5rem .5rem;
	border-radius: 4rem;
	transition: background-color .4s ease;
}
.button:hover {
	background-color: rgb(238, 255, 224)
}
.button img {
	display: grid;
	width: 40px;
	height: 40px;
	background-color: var(--first-color);
	padding: .5rem;
	border-radius: 50%;
	place-items: center;
	transition: transform .4s ease;
}
.button:hover img {
	transform: translateX(.15rem) rotate(-30deg);
}
.header-home__button-link {
	color: var(--white-color);
	font-weight: var(--font-bold);
	text-decoration: underline;
	transition: color .4s ease;
}
.header-home__button-link:hover {
	color: var(--first-color);
}
@media (min-width: 62em) {
	.home.section {
		padding-block: 7rem 8rem;
	}
}
@media (max-width: 47.998em) {
	.home__container {
		padding-top: 1.25rem;
		flex-direction: column-reverse;
	}
	.header-home__text:not(:last-child) {
		margin-bottom: 1.25rem;
	}
	.home__image {
		display: none;
	}
	.home__content {
		text-align: center;
	}
}
@media (max-width: 30em) {
	.header-home__buttons {
		flex-direction: column;
	}
}
.new__container {
	display: flex;
	row-gap: 6rem;
}
.header-new {
	flex: 0 1 50%;
	align-self: center;
}
.header-new__text {
	max-width: 420px;
}
.new__body {
	flex: 0 1 50%;
	margin: 0px auto;
	/* max-width: 520px;
	align-self: center; */
}
.new__content {
	column-gap: 4rem;
	row-gap: 6rem;
}
.new__card {
	position: relative;
	width: 200px;
	background: var(--gradient-card);
	padding: 9rem .75rem 1.5rem .75rem;
	border: 2px solid var(--first-color-light);
	border-radius: 1.5rem;
}
.new__card:nth-child(odd) {
	transform: rotate(-5deg);
}
.new__card:hover .card-new__image img  {
	transform: translateY(-.5rem);
}
.card-new__image img {
	position: absolute;
	top: -4.5rem;
	left: 0;
	right: 0;
	width: 180px;
	margin: 0px auto;
	object-fit: cover;
	transition: transform .4s ease;
}
.card-new__title {
	font-size: 1.25rem;;
	font-weight: var(--font-semi-bold);
	text-align: center;
	color: var(--title-color);
	overflow: hidden;
}
@media (min-width: 62em) {
	.new__body {
		max-height: 520px;
		align-self: center;
	}
}
@media (max-width: 61.998em) {
	.new__container {
		flex-direction: column;
	}
	.header-new__text {
		max-width: none;
	}
}
@media (min-width: 48em) {
	.new__content {
		grid-template-columns: repeat(2, 1fr);
	}
	.new__card:nth-child(even) {
		transform: translateY(10rem) rotate(5deg);
	}
}
@media (max-width: 47.998em) {
	.new.section {
		padding-block: 2rem 1rem;
	}
}
/* ============================== */
/* ============================== */

/* ============ Shop ================== */
.shop__content {
	padding-top: 8rem; 
	display: grid;
	grid-template-columns: repeat(3, 250px);
	gap: 8rem 4rem;
	justify-content: center;
}
.shop__card {
	position: relative;
	max-width: 250px;
	background: var(--gradient-card);
	padding: 12rem 1.25rem 2rem 1.25rem;
	border: 2px solid var(--first-color-light);
	border-radius: 1rem;
}
.shop__card:hover .card-shop__image img {
	transform: translateY(-.5rem);
}
.card-shop__image img {
	position: absolute;
	width: 230px;
	top: -5.5rem;
	left: 0;
	right: 0;
	margin: 0 auto;
	transition: transform .4s ease;
}
.card-shop__title {
	font-size: 1.25rem;
	font-weight: var(--font-bold);
	color: var(--title-color);
	overflow: hidden;
}
.card-shop__title:not(:last-child) {
	margin-bottom: 1rem;
}
.card-shop__price {
	color: var(--title-color);
	font-size: 1.25rem;
	font-weight: var(--font-semi-bold);
}
.card-shop__button {
	position: absolute;
	right: 1.5rem;
	bottom: 1.5rem;
	background-color: var(--white-color);
	padding: 6px;
	border-radius: 50%;
	transition: transform .4s ease;
}
.card-shop__button:hover {
	transform: scale(1.1);
}
.card-shop__button img {
	width: 24px;
	height: 24px;
}
@media (max-width: 61.998em) {
	.shop__content {
		grid-template-columns: repeat(2, 250px);
		padding-top: 7.5rem;
		gap: 7rem 5rem;
	}
	.shop__card {
		position: relative;
		max-width: 250px;
		background: var(--gradient-card);
		padding: 7rem 1rem 1.5rem 1rem;
		border: 2px solid var(--first-color-light);
		border-radius: 1rem;
	}
	.card-shop__image:not(:last-child) {
		padding-bottom: 4rem;
	}
	.card-shop__button {
		right: 1rem;
		bottom: 1rem;
	}
}
@media (max-width: 47.998em) {
	.shop.section {
		padding-block: 2rem 1rem;
	}
	.shop__content {
		grid-template-columns: repeat(1, 250px);
		padding-top: 7rem;
	}
}
/* ============================== */
/* ============================== */

/* ============ Care ================== */
.care__container {
	row-gap: 2rem;
}
.care__body {
	display: flex;
	padding: 5rem 1.25rem 0 1.25rem;
	gap: 6rem;
}
.body-care__image {
	flex: 0 1 50%;
}
.image-care__content {
	display: block;
	position: relative;
	padding-top: 102%;
}
.image-care__content img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
	filter: drop-shadow(0 0 48px hsla(93, 54%, 54%, .4));
}

.body-care__content {
	flex: 0 1 50%;
}

.content-care {
	align-self: center;
}
.content-care__list {
	display: grid;
	row-gap: 1rem;
	max-width: 400px;
}
.content-care__item {
	display: flex;
	position: relative;
	padding-left: 40px;
	min-height: 32px;
}
.content-care__item::before {
	position: absolute;
	content: '';
	width: 32px;
	height: 32px;
	top: 0;
	left: 0;
	object-fit: cover;
	background: url('../img/care/checkbox.svg') left no-repeat;
}
@media (max-width: 61.998em) {
	.care__body {
		display: flex;
		padding: 3rem 1rem 0 1rem;
		gap: 3rem;
	}
}
@media (min-width: 48em) {
	.body-care__image {
		max-height: 490px;
		align-self: center;
	}
}
@media (max-width: 47.998em) {
	.care.section {
		padding-block: 2rem 1rem;
	}
	.care__body {
		flex-direction: column-reverse;
		padding: 1.25rem .5rem 0 .5rem;
		gap: 1rem;
	}
	.image-care__content {
		padding-top: 0;
		max-width: 300px;
		margin: 0px auto;
	}
	.image-care__content img {
		position: relative;
	}
	.content-care__list {
		max-width: none;
	}
}
/* ============================== */
/* ============================== */

/* ============ Contact ================== */
.contact__body {
	display: flex;
	padding: 0 .5rem;
	padding-top: 2rem;
	row-gap: 2rem;
}
.contact__content {
	display: flex;
	align-self: center;
	flex: 0 1 50%;
	flex-direction: column;
	gap: 3rem;
}
.contact__content h3 {
	color: var(--title-color);
	font-size: 1.5rem;
	font-weight: var(--font-semi-bold);
}
.contact__content h3:not(:last-child) {
	margin-bottom: .5rem;
}
.contact__content address {
	font-style: normal;
}
.contact__image {
	flex: 0 1 50%;
}
.image-contact__content {
	display: block;
	position: relative;
	padding-top: 115%;
}
.image-contact__content img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
	filter: drop-shadow(0 0 48px hsla(93, 54%, 54%, .4));
}
.social-contact__image {
	display: flex;
	column-gap: .75rem;
}
.social-contact__image img {
	transition: transform .4s ease 0s;
}
.social-contact__image img:hover {
	transform: scale(1.1);
}
@media (min-width: 48em) {
	.contact__image {
		max-height: 620px;
		align-self: center;
	}
}
@media (max-width: 47.998em) {
	.contact.section {
		padding-block: 2rem 1rem;
	}
	.contact__body {
		flex-direction: column;
	}
	.contact__content {
		text-align: center;
		justify-content: center;
		gap: 1.5rem;
	}
	.social-contact__image {
		justify-content: center;
	}
	.contact__image {
		display: none;
	}
}
/* ============================== */
/* ============================== */

/* ============ Footer ================== */
.footer {
	padding-block: 4rem 2.5rem;
}
.main-footer__body {
	display: grid;
	grid-template-columns: minmax(auto, 400px) auto auto auto;
	gap: 64px;
	padding: 7rem 0rem;
}
.main-footer__logo {
	display: inline-flex;
	align-items: center;
	column-gap: .25rem;
	color: var(--title-color);
	font-size: 24px;
	font-weight: var(--font-semi-bold);
}
.main-footer__logo:not(:last-child) {
	margin-bottom: 2rem;
}
.main-footer__text {
	max-width: 180px;
}
.main-footer__label {
	color: var(--title-color);
	font-size: var(--h2-font-size);
	font-weight: var(--font-semi-bold);
}
.main-footer__label:not(:last-child) {
	margin-bottom: 2rem;
}
.menu-footer__list {
	display: grid;
	row-gap: .75rem;
}
.menu-footer__link {
	transition: color .4s ease 0s;
}
.menu-footer__link:hover {
	color: var(--white-color);
}
.main-footer__social {
	display: flex;
	column-gap: 1.25rem;
}
.main-footer__social .icon {
	width: 24px;
	height: 24px;
}
.main-footer__social img {
	transition: filter .4s ease 0s;
}
.main-footer__social img:hover {
	filter: brightness(150%);
}
.footer__bottom {
	padding-top: 2rem;
}
.bottom-footer__copy {
	text-align: center;
}
@media (max-width: 61.998em) {
	.footer {
		padding-block: 2rem 1.5rem;
	}
	.main-footer__body {
		grid-template-columns: minmax(auto, 300px) auto auto auto;
		gap: 32px;
		padding: 5rem 0rem;
	}
	.footer__bottom {
		padding: 2rem 0rem;
	}
}
@media (max-width: 47.998em) {
	.main-footer__body {
		grid-template-columns: auto auto;
		row-gap: 48px;
		column-gap: 24px;
		padding: 0rem 0rem 2rem 0rem;
	}
	.main-footer__column:nth-child(1) {
		grid-column: 2 span;
	}
	.main-footer__column:nth-child(4) {
		grid-column: 2 span;
	}
	.main-footer__logo:not(:last-child) {
		margin-bottom: 1.25rem;
	}
	.main-footer__text {
		max-width: none;
	}
	.main-footer__label:not(:last-child) {
		margin-bottom: 1.25rem;
	}
}